body {
  padding:20px;
  height: 100%;
}

h1 {
	text-align: center;
}

.form{
  margin-bottom: 20px;
}

.loader {
  margin: auto;
  padding: 50px;
  display: block;
}

.image {
  width: 80%;
  height: 80%;
}

.keyword {
  width: 50% !important;
}

.page-header {
  border-bottom: 0px solid #eee !important;
}

.price {
  color: red;
  font-size: 16px;
}

.rating {
  color: #ffbb28;
  font-size: 18px;
}

.md-headline{
  font-weight: 700 !important;
  letter-spacing: -1px;
  font-size: 20px;
}
ul {
  padding-left: 0;
}
/*To remove the space inserted by li during ng-repeat:*/
ul li {
  display: block;
}
md-card-title {
  padding: 14px 16px 6px !important;
}
img {
  padding: 0px 0px 15px !important;
}
.col-width {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
