<label>Which categories would you like to compare?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="vm.formData.category" value="men">
           Men's
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="vm.formData.category" value="women">
            Women's
        </label>
    </div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-flash"></span> Compare</button>
</div>


<button ng-click="vm.displayData()" type="button" name="button">Display Data</button>

<p ng-bind="vm.data"></p>
    {{vm.data}}
