<label>Which categories would you like to compare?</label>
<div class="form-group">
  <div class="radio">
      <label>
          <input type="radio" ng-model="vm.formData.category" value="women">
          All
      </label>
  </div>
    <div class="radio">
        <label>
           <input type="radio" ng-model="vm.formData.category" value="men">
           Men's
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="vm.formData.category" value="women">
            Women's
        </label>
    </div>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-flash"></span> Compare</button>
</div>

<button ng-click="vm.displayData()" type="button" name="button">Display Data</button>

<div class="row">

  <!-- Amazon -->
  <div class="col-sm-5">
    <div class="row">
      <ul ng-if="vm.items">
          <li ng-repeat="item in vm.items | limitTo:4 ">
            <div class="col-sm-12 col-width">
              <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{ item.name }}</span>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <p class="price">
                      {{ item.price }}
                    </p>
                    <p class="rating">
                      {{ item.rating }}
                    </p>
                  </md-card-content>

                  <img ng-src="{{ item.image }}" class="md-card-image" style="padding:15px;" />
                </md-card>
            </div>
          </li>
        </ul>
    </div>
  </div>

  <!-- Nike  -->
  <div class="col-sm-5">
    <div class="row">
      <ul ng-if="vm.items">
          <li ng-repeat="item in vm.items | limitTo:4 ">
            <div class="col-sm-12 col-width">
              <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{ item.name }}</span>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <p class="price">
                      {{ item.price }}
                    </p>
                    <p class="rating">
                      {{ item.rating }}
                    </p>
                  </md-card-content>

                  <img ng-src="{{ item.image }}" class="md-card-image" style="padding:15px;" />
                </md-card>
            </div>
          </li>
        </ul>
    </div>
  </div>

</div>
