<label>Which categories would you like to compare?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="vm.formData.category" value="men">
           Men's
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="vm.formData.category" value="women">
            Women's
        </label>
    </div>
</div>

<div class="text-center">
    <span class="glyphicon glyphicon-flash"></span>
    <button type="submit" class="btn btn-danger">Compare!</button>
</div>


<!-- <button ng-click="postIt()" type="button" name="button">Post!</button>
<button ng-click="makeCall()" type="button" name="button">Click!</button> -->
