<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="form-container">
    <div class="page-header text-center">
      <h2>Compare Nike products on amazon.com and nike.com</h2>
      </div>

      <div class="col-sm-8 col-sm-offset-2 form">
        <form ng-submit="vm.submitForm(vm.keyword)" novalidate>
          <div class="input-group">
            <input ng-model="vm.keyword" type="text" class="form-control" required autofocus placeholder="Enter a Nike product ">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-danger">
                  <span class="glyphicon glyphicon-flash"></span> Compare</button>
            </div>
          </div>
        </form>
      </div>


      <div class="row">
        <!-- Amazon -->
        <div class="col-sm-5">
          <div class="row">
            <h2>Amazon.com</h2>
            <ul ng-if="vm.items">
                <li ng-repeat="item in vm.items | limitTo:4 ">
                  <div class="col-sm-12 col-width">
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">{{ item.name }}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p class="price">
                            {{ item.price }}
                          </p>
                          <p class="rating">
                            {{ item.rating }}
                          </p>
                        </md-card-content>
                        <div class="image">
                          <img ng-src="{{ item.image }}" class="md-card-image" />
                        </div>
                      </md-card>
                  </div>
                </li>
              </ul>
          </div>
        </div>

        <!-- Nike  -->
        <div class="col-sm-5">
          <div class="row">
            <h2>Nike.com</h2>
            <ul ng-if="vm.items">
                <li ng-repeat="item in vm.items | limitTo:4 ">
                  <div class="col-sm-12 col-width">
                    <md-card>
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">{{ item.name }}</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                          <p class="price">
                            {{ item.price }}
                          </p>
                          <p class="rating">
                            {{ item.rating }}
                          </p>
                        </md-card-content>

                        <img ng-src="{{ item.image }}" class="md-card-image" style="padding:15px;" />
                      </md-card>
                  </div>
                </li>
              </ul>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
