<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="form-container">
    <div class="page-header text-center">
      <h2>Compare Nike products on amazon.com and nike.com</h2>
      <div id="status-buttons" class="text-center">
        <a ui-sref-active="active" ui-sref=".keyword"><span>1</span> Enter Keyword</a>
        <a ui-sref-active="active" ui-sref=".category"><span>2</span> Compare Results</a>
      </div>
      </div>

      <form id="compare-form" name="compareForm" ng-submit="vm.submitForm()" novalidate>
          <div id="form-views" ui-view></div>
      </form>

    </div>
  </div>
</div>
